<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-support-google-services"
      version="1.4.0">

    <name>cordova-support-google-services</name>
    <description>Cordova plugin to add google service support</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-support-google-services</repo>
    <issue>https://github.com/chemerisuk/cordova-support-google-services/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>

    <platform name="android">
        <framework src="build.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>