.countly-feedback.open{
    display: block;
}
.countly-feedback{
    width: 80%;
    height: auto;
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    z-index: 99;
    border: 1px solid #e0e0e0;
    text-align: center;
    font-size: 2rem;
    display: none;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
}
.countly-feedback div{
    margin: 20px;
}
.countly-feedback-header{
    margin-top: 20px;
}
.countly-feedback-divider{
    position: relative;
    margin: auto;
    height: 1px;
    border: 0.1px solid #e0e0e0;
}
.countly-feedback-dismiss{
    color: #47a9f4;
}
.countly-feedback-submit{
    display: none;
    color: #47a9f4;
}

.countly-feedback .countly-feedback-content span img{
    height: 36px;
    width: 36px;
}
.countly-feedback .countly-feedback-content p {
    font-size: 24px;
    text-align: left;
    margin: 0px;
    margin-left: 20px;
}
.countly-footer-btn {
    color: white;
    border-radius: 8px;
    background-color:#2EB52C;
    height: 40px;
    width: 170px;
    font-size:20px;
    border: white; 
    margin: 0px !important;
}
.checkbox-style {
    font-size: 15px;
    margin-top: 40px;
    margin-right: 115px !important; 
    margin-top: 50px !important;
}