.countly-modal.open{
    display: block;
}
.countly-modal{
    width: 80%;
    height: auto;
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    z-index: 99;
    border: 1px solid #e0e0e0;
    text-align: center;
    font-size: 2rem;
    display: none;
}
.countly-modal div{
    margin: 20px;
}
.countly-modal-header{
    margin-top: 20px;
}
.countly-modal-divider{
    position: relative;
    margin: auto;
    height: 1px;
    border: 0.1px solid #e0e0e0;
}
.countly-modal-dismiss{
    color: #47a9f4;
}
.countly-modal-submit{
    display: none;
    color: #47a9f4;
}
.countly-rating-modal {
    border-radius: 20px;
}
.countly-feedback-modal{
    border-radius: 10px;
}

.countly_footer_btn {
    color: white;
    border-radius: 8px;
    background-color:#2EB52C;
    height: 40px;
    width: 170px;
    font-size:20px;
    border: white; 
    margin-top: 0px !important;
}
.checkbox_style {
    font-size: 15px;
     margin-top: 40px;
      margin-right: 115px !important; 
      margin-top: 50px !important;
}
