.countly-rating.open{
    display: block;
}
.countly-rating{
    width: 80%;
    height: auto;
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    z-index: 99;
    border: 1px solid #e0e0e0;
    text-align: center;
    font-size: 2rem;
    display: none;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
}
.countly-rating div{
    margin: 20px;
}
.countly-rating-header{
    margin-top: 20px;
}
.countly-rating-divider{
    position: relative;
    margin: auto;
    height: 0.1px;
    border: 0.1px solid #e0e0e0;
}
.countly-rating-dismiss{
    color: #47a9f4;
}
.countly-rating-submit{
    display: none;
    color: #47a9f4;
}
