<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="ly.countly.cordova"
        version="0.0.1">

  <name>CountlyCordova</name>

  <description>
    Countly wrapper for cordova app.
  </description>

  <author>Nicolson Dsouza</author>

  <license>NA</license>

  <keywords>Event, Mobile analytical</keywords>

  <repo>https://github.com/nicolsondsouza/countly-sdk-js.git</repo>

  <issue>https://github.com/nicolsondsouza/countly-sdk-js/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="CountlyCordova.js" name="CountlyCordova">
    <clobbers target="window.plugins.CountlyCordova" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="CountlyCordova">
        <param name="ios-package" value="CountlyCordova"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/sdk/Countly.h"/>
    <source-file src="src/ios/sdk/Countly.m"  compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyDB.h"/>
    <source-file src="src/ios/sdk/CountlyDB.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/Countly_OpenUDID.h"/>
    <source-file src="src/ios/sdk/Countly_OpenUDID.m" compiler-flags="-fno-objc-arc" />
    <!-- <source-file src="src/ios/sdk/Countly.xcdatamodeld"/> -->
    <!-- <source-file src="src/ios/sdk/Countly.m"/> -->

    <header-file src="src/ios/CountlyCordova.h"/>
    <source-file src="src/ios/CountlyCordova.m"/>

    <framework src="CoreTelephony.framework" weak="true" />
    <framework src="CoreData.framework" weak="true" />
  </platform>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CountlyCordova">
        <param name="android-package" value="ly.count.android.api.CountlyCordova" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET"/>
    </config-file>
    
    <source-file src="src/android/CountlyCordova.java" target-dir="src/ly/count/android/api"/>
    <source-file src="src/android/Countly.java" target-dir="src/ly/count/android/api"/>
    
    <source-file src="src/android/OpenUDID_manager.java" target-dir="src/org/OpenUDID/"/>
    <source-file src="src/android/OpenUDID_service.java" target-dir="src/org/OpenUDID/"/>
  </platform>

  <!-- wp8 -->
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="CountlyCordova">
        <param name="wp-package" value="CountlyCordova"/>
      </feature>
    </config-file>

    <source-file src="src/wp8/CountlyCordova.cs" />
  </platform>

</plugin>
