<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="ly.count.cordova"
        version="0.0.1">

  <name>Countly</name>

  <description>
    Countly is an innovative, real-time, open source mobile analytics application. It collects data from mobile devices, and visualizes this information to analyze mobile application usage and end-user behavior. There are two parts of Countly: the server that collects and analyzes data, and mobile SDK that sends this data. Both parts are open source with different licensing terms.
  </description>

  <author>Nicolson Dsouza</author>

  <license>Open source with different licensing terms.</license>

  <keywords>Event, Mobile analytical</keywords>

  <repo>https://github.com/Countly/countly-sdk-js.git</repo>

  <issue>https://github.com/Countly/countly-sdk-js/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
    <engine name="cordova-android" version=">=3.0.0"/>
    <engine name="cordova-ios" version=">=3.0.0"/>
  </engines>

  <js-module src="Countly.js" name="Countly">
    <clobbers target="window.plugins.Countly" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="CountlyCordova">
        <param name="ios-package" value="CountlyCordova"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/sdk/Countly.h"/>
    <source-file src="src/ios/sdk/Countly.m"  compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/Countly_OpenUDID.h"/>
    <source-file src="src/ios/sdk/Countly_OpenUDID.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyAPM.h"/>
    <source-file src="src/ios/sdk/CountlyAPM.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyAPMNetworkLog.h"/>
    <source-file src="src/ios/sdk/CountlyAPMNetworkLog.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyCommon.h"/>
    <source-file src="src/ios/sdk/CountlyCommon.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyConfig.h"/>
    <source-file src="src/ios/sdk/CountlyConfig.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyConnectionManager.h"/>
    <source-file src="src/ios/sdk/CountlyConnectionManager.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyCrashReporter.h"/>
    <source-file src="src/ios/sdk/CountlyCrashReporter.m" compiler-flags="-fno-objc-arc" />
    <!-- <header-file src="src/ios/sdk/CountlyDB.h"/> -->
    <!-- <source-file src="src/ios/sdk/CountlyDB.m" compiler-flags="-fno-objc-arc" /> -->
    <header-file src="src/ios/sdk/CountlyDeviceInfo.h"/>
    <source-file src="src/ios/sdk/CountlyDeviceInfo.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyEvent.h"/>
    <source-file src="src/ios/sdk/CountlyEvent.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyPersistency.h"/>
    <source-file src="src/ios/sdk/CountlyPersistency.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyStarRating.h"/>
    <source-file src="src/ios/sdk/CountlyStarRating.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyUserDetails.h"/>
    <source-file src="src/ios/sdk/CountlyUserDetails.m" compiler-flags="-fno-objc-arc" />
    <header-file src="src/ios/sdk/CountlyViewTracking.h"/>
    <source-file src="src/ios/sdk/CountlyViewTracking.m" compiler-flags="-fno-objc-arc" />
    <!-- <source-file src="src/ios/sdk/Countly.xcdatamodeld" custom="true"/> -->

    <header-file src="src/ios/CountlyCordova.h"/>
    <source-file src="src/ios/CountlyCordova.m"/>

    <!-- <framework src="src/ios/sdk/Countly.xcdatamodeld"/> -->

    <framework src="CoreTelephony.framework" weak="true" />
    <framework src="CoreData.framework" weak="true" />
    <framework src="OpenGLES.framework" weak="true" />
  </platform>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CountlyCordova">
        <param name="android-package" value="ly.count.android.sdk.CountlyCordova" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
        <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
        <uses-permission android:name="android.permission.WAKE_LOCK"/>
    </config-file>


    <config-file target="AndroidManifest.xml" parent="/manifest/application">

        <service android:name="org.openudid.OpenUDID_service">
            <intent-filter>
                <action android:name="org.openudid.GETUDID" />
            </intent-filter>
        </service>

        <!-- push notification config -->
        <!-- <receiver
            android:name="ly.count.android.sdk.messaging.CountlyMessaging"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="ly.count.android.api" />
            </intent-filter>
        </receiver>
        <service android:name="ly.count.android.sdk.messaging.CountlyMessagingService" >
            <meta-data android:name="broadcast_action" android:value="ly.count.android.api.broadcast" />
        </service> -->

    </config-file>

    <source-file src="src/android/CountlyCordova.java" target-dir="src/ly/count/android/sdk"/>

    <source-file src="src/android/AdvertisingIdAdapter.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/CertificateTrustManager.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/ConnectionProcessor.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/ConnectionQueue.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/Countly.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/CountlyStore.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/CrashDetails.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/DeviceId.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/DeviceInfo.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/Event.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/EventQueue.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/MessagingAdapter.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/OpenUDIDAdapter.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/ReferrerReceiver.java" target-dir="src/ly/count/android/sdk"/>
    <source-file src="src/android/UserData.java" target-dir="src/ly/count/android/sdk"/>

    <!-- push notification config -->
    <!-- <source-file src="src/android/messaging/CountlyMessaging.java" target-dir="src/ly/count/android/sdk/messaging"/>
    <source-file src="src/android/messaging/CountlyMessagingService.java" target-dir="src/ly/count/android/sdk/messaging"/>
    <source-file src="src/android/messaging/Message.java" target-dir="src/ly/count/android/sdk/messaging"/>
    <source-file src="src/android/messaging/ProxyActivity.java" target-dir="src/ly/count/android/sdk/messaging"/> -->

    <source-file src="src/android/OpenUDID_manager.java" target-dir="src/org/openudid/"/>
    <source-file src="src/android/OpenUDID_service.java" target-dir="src/org/openudid/"/>

    <!-- <source-file src="src/android/libs/gcm.jar" target-dir="libs/" />
    <source-file src="src/android/libs/android-support-v13.jar" target-dir="libs/" />
    <source-file src="src/android/libs/google-play-services.jar" target-dir="libs/" />
    <source-file src="src/android/libs/play-services-gcm.jar" target-dir="libs/" /> -->

    <source-file src="src/android/gradle/build-extras.gradle" target-dir="src/.." />
  </platform>

  <!-- wp8 -->
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="CountlyCordova">
        <param name="wp-package" value="CountlyCordova"/>
      </feature>
    </config-file>

    <source-file src="src/wp8/CountlyCordova.cs" />
  </platform>

</plugin>
